<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
<%- include('../header') -%>

<!-- FORM -->
  <div>
    <form id="problem-form" onsubmit="createProblem()">
      Problem Set:<br>
      <input id="problem-set" type="text" name="problemSet" >
      <br>
      Name:<br>
      <input id="name" type="text" name="name">
      <br>
      Template:<br>
      <input id="template" type="text" name="template">
      <br>
      Seed Value:<br>
      <input id="seed-value" type="text" name="seedValue">
      <br>
      Formula:<br>
      <input id="formula" type="text" name="formula">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>

